services:
  postgres_tenancy_service:
    image: postgres:16
    container_name: tenancy_service_postgres
    environment:
      POSTGRES_DB: tenancy_service
      POSTGRES_USER: tenancy_service
      POSTGRES_PASSWORD: tenancy_service
    ports:
      - "5434:5432"
    volumes:
      - pgdata_tenancy_service:/var/lib/postgresql/data

volumes:
  pgdata_tenancy_service:
